@font-face {
    font-family: 'Kanit-Bold';
    src: url('fonts/Kanit-Bold.woff2') format('woff2'), url('fonts/Kanit-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit-SemiBold';
    src: url('fonts/Kanit-SemiBold.woff2') format('woff2'), url('fonts/Kanit-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgb(10, 10, 10);
    color: whitesmoke;
    font-family: 'Kanit-SemiBold', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav ul {
    display: flex;
}

.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-grow: 1;
    gap: 1rem;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    text-align: center;
    line-height: 1;
    font-size: calc(9000vw/1018);
}

h1>#titre {
    color: transparent;
    background-color: transparent;
    -webkit-text-stroke: 2px whitesmoke;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

li {
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: inherit;
}