@font-face {
    font-family: 'Kanit-Bold';
    src: url('fonts/Kanit-Bold.woff2') format('woff2'), url('fonts/Kanit-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit-SemiBold';
    src: url('fonts/Kanit-SemiBold.woff2') format('woff2'), url('fonts/Kanit-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #0D1117;
    color: whitesmoke;
    font-family: 'Kanit-SemiBold', sans-serif;
    cursor: url("../src/cursor-line.png"), pointer;
    user-select: none;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

nav ul {
    display: flex;
}

.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-grow: 1;
    gap: 1rem;
}
.carrousel {
    display: flex;
    width: 90%;
    justify-content: end;
    margin: auto;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.05);
}
.slider {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    width: 90%;
    margin: 2rem auto 5rem auto;
    height: 200px;
}
.slider>img:last-child {
    width: 200px;
    height: 300px;
}
.slider>img:first-child:hover {
    height: 300px;
}

h1 {
    margin: 10px 0;
    text-align: center;
    line-height: 1;
    font-size: calc(9000vw/1018);
}

h1>#titre {
    color: transparent;
    background-color: transparent;
    -webkit-text-stroke: 2px whitesmoke;
}

footer {
    font-family: 'Kanit-SemiBold';
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 55px;
    justify-content: space-around;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

li {
    margin: 0 5px;
}

a {
    text-decoration: none;
    color: inherit;
}